@media only screen and (max-width:414px){
    .first{
        display: none;
    }
    .ps-5{
        background-color: rgb(71, 71, 71) !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .tab-content{
        padding: 0px !important;
        margin-left: 50px;
       position: relative;
       bottom: 50px;
    }
    .flex-column{
        margin-bottom: 0px !important;
    }
    .view{
        position: absolute;
        bottom: 80px;
        padding: 10px;
        left: 80px;
        color: white;
        visibility: hidden;
        transition: all 1s !important;
        border-radius: 5px;
    }
    .project:hover .view{
        position: absolute;
        bottom: 80px;
        padding: 10px;
        left: 80px;
        color: white;
        visibility: visible;
        transition: all 1s;
    }
    .bg-black2{
        margin-bottom: 5px;
        display: none;
    }
    .card-img-top{
        position: absolute;
        width: 120px;
        height: 120px;
        bottom: 280px;
        left: 130px;
        z-index: 6 !important;
    }
    .carousel-inner{
        padding-top: 60px;
    }
    .mb-51{
        margin-bottom: 30px;
    }
    .bu{
        display: block;
        background-color: rgb(71, 71, 71) !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .footer{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .about{
        margin-bottom: 10px !important;
    }
    .far{
        margin-bottom: 10px !important;
    }
    .social{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin-right: 8px;
    }
    .links{
        margin-left: 0px !important;
        margin-bottom: 7px !important;
    }
    .links li{
        display: inline;
        margin-bottom: 0px !important;
        margin-right: 7px;
        position: relative;
        right: 30px;
    }
    .footer .col-lg-3{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:375px){
    .view{
        position: absolute;
        bottom: 60px;
        padding: 10px;
        left: 60px;
        color: white;
        visibility: hidden;
        transition: all 1s !important;
        border-radius: 5px;
    }
    .project:hover .view{
        position: absolute;
        bottom: 60px;
        padding: 10px;
        left: 60px;
        color: white;
        visibility: visible;
        transition: all 1s;
    }
    .card-img-top{
        position: absolute;
        width: 120px;
        height: 120px;
        bottom: 280px;
        left: 115px;
        z-index: 6 !important;
    }
    .carousel-inner{
        padding-top: 60px;
    }
   .bu{
       padding-left: 0px !important;
       padding-right: 0px !important;
   }
   .footer{
       padding-right: 0px !important;
       padding-left: 0px !important;
   }
}